<ion-view title="Awesome Yogurt">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
       Quantity:
      </div>

      <div class="item item-text-wrap">
       {{yogurt.quantity}}
      </div>

      <div class="item item-divider">
        Flavor:
      </div>

      <div class="item item-text-wrap">
       {{yogurt.flavor}}
      </div>


      <div class="item item-divider">
      Topping:</div>
      <div class="item item-text-wrap">{{yogurt.topping}}</div>

    </div>
  </ion-content>
</ion-view>